In [130]:
import pandas as pd


df = pd.read_excel('cultur_resurce.xlsx', sheet_name='Feuil1',header=None)

In [61]:
df[1][0],[df[0][2],df[1][2],df[2][2]]

('Abricotier', ['N', 2.4, 3])

In [86]:
df[1+4][0],[df[0][2],df[1+4][2],df[2+4][2]]

('Amandier', ['N', 2.2, 2.7])

In [149]:
list_of_lists = [[df[1+(j*2)][0], df[0][i], df[1+(j*2)][i],df[2+(j*2)][i]] # list compriontion 
                 for j in range(0, 41) for i in range(2, 16) if not pd.isna(df[1+(j*2)][i])]

In [153]:
 print("create table cultur_data(cultur_name varchar(50),parametre varchar(10),max float(10),min float(11));")
for i in list_of_lists : 
    if pd.isna(i[0]):
        i[0] = 0
    if pd.isna(i[1]):
        i[1] = 0
    if pd.isna(i[2]):
        i[2] = 0
    if pd.isna(i[3]):
        i[3] = 0
    print(f"insert into cultur_data values('{i[0]}','{i[1]}','{i[2]}','{i[3]}');")

create table cultur_data(cultur_name varchar(50),parametre varchar(10),max float(10),min float(11));
insert into cultur_data values('Abricotier','NTK','2.4','3');
insert into cultur_data values('Abricotier','PT','0.14','0.25');
insert into cultur_data values('Abricotier','K','2','3.5');
insert into cultur_data values('Abricotier','Mg','0.3','0.8');
insert into cultur_data values('Abricotier','Ca','1.7','3');
insert into cultur_data values('Abricotier','Na','0.3','0.3');
insert into cultur_data values('Abricotier','Cl','0.02','0.02');
insert into cultur_data values('Abricotier','Zn','20','50');
insert into cultur_data values('Abricotier','Cu','6','16');
insert into cultur_data values('Abricotier','Mn','40','160');
insert into cultur_data values('Abricotier','Fe','100','200');
insert into cultur_data values('Abricotier','B','25','60');
insert into cultur_data values('AGRUMES','NTK','2.4','3.5');
insert into cultur_data values('AGRUMES','PT','0.1','0.17');
insert into cultur_data values('AGRUMES','K','0.7','1.6');
insert into cultur_data values('AGRUMES','Mg','0.3','0.5');
insert into cultur_data values('AGRUMES','Ca','2','5');
insert into cultur_data values('AGRUMES','Na','0.2','0.16');
insert into cultur_data values('AGRUMES','Cl','0.3','0.3');
insert into cultur_data values('AGRUMES','Zn','25','60');
insert into cultur_data values('AGRUMES','Cu','6','15');
insert into cultur_data values('AGRUMES','Mn','25','100');
insert into cultur_data values('AGRUMES','Fe','60','150');
insert into cultur_data values('AGRUMES','B','35','100');
insert into cultur_data values('Amandier','NTK','2.2','2.7');
insert into cultur_data values('Amandier','PT','0.1','0.3');
insert into cultur_data values('Amandier','K','1.4','2');
insert into cultur_data values('Amandier','Mg','0.25','0.5');
insert into cultur_data values('Amandier','Ca','2','4');
insert into cultur_data values('Amandier','Na','0.2','0.16');
insert into cultur_data values('Amandier','Cl','0.3','0.3');
insert into cultur_data values('Amandier','Zn','15','50');
insert into cultur_data values('Amandier','Cu','4','20');
insert into cultur_data values('Amandier','Mn','20','200');
insert into cultur_data values('Amandier','Fe','60','200');
insert into cultur_data values('Amandier','B','30','70');
insert into cultur_data values('Avocatier','NTK','1.8','2.2');
insert into cultur_data values('Avocatier','PT','0.1','0.25');
insert into cultur_data values('Avocatier','K','0.75','2');
insert into cultur_data values('Avocatier','Mg','0.25','0.8');
insert into cultur_data values('Avocatier','Ca','1','3');
insert into cultur_data values('Avocatier','Na','0.16','0.2');
insert into cultur_data values('Avocatier','Cl','0.3','0.3');
insert into cultur_data values('Avocatier','Zn','30','150');
insert into cultur_data values('Avocatier','Cu','5','15');
insert into cultur_data values('Avocatier','Mn','30','500');
insert into cultur_data values('Avocatier','Fe','50','200');
insert into cultur_data values('Avocatier','B','50','100');
insert into cultur_data values('Cerisier','NTK','1.7','2.2');
insert into cultur_data values('Cerisier','PT','0.09','0.14');
insert into cultur_data values('Cerisier','K','1','1.6');
insert into cultur_data values('Cerisier','Mg','0.2','0.3');
insert into cultur_data values('Cerisier','Ca','0.8','1.4');
insert into cultur_data values('Cerisier','Na','0.2','0.16');
insert into cultur_data values('Cerisier','Cl','0.3','0.3');
insert into cultur_data values('Cerisier','Zn','15','20');
insert into cultur_data values('Cerisier','Cu','3','5');
insert into cultur_data values('Cerisier','Mn','20','40');
insert into cultur_data values('Cerisier','Fe','60','100');
insert into cultur_data values('Cerisier','B','15','20');
insert into cultur_data values('CLEMENTINIER','NTK','2.2','2.8');
insert into cultur_data values('CLEMENTINIER','PT','0.12','0.19');
insert into cultur_data values('CLEMENTINIER','K','1','1.8');
insert into cultur_data values('CLEMENTINIER','Mg','0.3','0.7');
insert into cultur_data values('CLEMENTINIER','Ca','3','6');
insert into cultur_data values('CLEMENTINIER','Na','0.2','0.16');
insert into cultur_data values('CLEMENTINIER','Cl','0.3','0.3');
insert into cultur_data values('CLEMENTINIER','Zn','25','110');
insert into cultur_data values('CLEMENTINIER','Cu','5','15');
insert into cultur_data values('CLEMENTINIER','Mn','25','100');
insert into cultur_data values('CLEMENTINIER','Fe','60','150');
insert into cultur_data values('CLEMENTINIER','B','50','200');
insert into cultur_data values('Figuier','NTK','1.76','2.64');
insert into cultur_data values('Figuier','PT','0.096','0.144');
insert into cultur_data values('Figuier','K','0.8960000000000001','1.344');
insert into cultur_data values('Figuier','Mg','0.76','1.14');
insert into cultur_data values('Figuier','Ca','2.56','3.84');
insert into cultur_data values('Figuier','Na','0.2','0.16');
insert into cultur_data values('Figuier','Cl','0.3','0.3');
insert into cultur_data values('Figuier','Zn','17.5','32.5');
insert into cultur_data values('Figuier','Cu','5','13');
insert into cultur_data values('Figuier','Mn','45.5','84.5');
insert into cultur_data values('Figuier','Fe','119','221');
insert into cultur_data values('Figuier','B','59.5','110.5');
insert into cultur_data values('Fraisier','NTK','3','3.5');
insert into cultur_data values('Fraisier','PT','0.2','0.4');
insert into cultur_data values('Fraisier','K','1.5','2.5');
insert into cultur_data values('Fraisier','Mg','0.25','0.5');
insert into cultur_data values('Fraisier','Ca','0.4','1.5');
insert into cultur_data values('Fraisier','Na','0.3','0.3');
insert into cultur_data values('Fraisier','Cl','0.5','0.5');
insert into cultur_data values('Fraisier','Zn','20','40');
insert into cultur_data values('Fraisier','Cu','5','10');
insert into cultur_data values('Fraisier','Mn','30','200');
insert into cultur_data values('Fraisier','Fe','50','200');
insert into cultur_data values('Fraisier','B','20','60');
insert into cultur_data values('Haricot','NTK','3','5');
insert into cultur_data values('Haricot','PT','0.25','0.45');
insert into cultur_data values('Haricot','K','2','3');
insert into cultur_data values('Haricot','Mg','0.25','0.9');
insert into cultur_data values('Haricot','Ca','0.8','2');
insert into cultur_data values('Haricot','Na','0.2','0.16');
insert into cultur_data values('Haricot','Cl','0.3','0.3');
insert into cultur_data values('Haricot','Zn','20','60');
insert into cultur_data values('Haricot','Cu','5','19');
insert into cultur_data values('Haricot','Mn','20','200');
insert into cultur_data values('Haricot','Fe','25','250');
insert into cultur_data values('Haricot','B','15','40');
insert into cultur_data values('Kiwi','NTK','2.3','3.45');
insert into cultur_data values('Kiwi','PT','0.2','0.31');
insert into cultur_data values('Kiwi','K','1.88','2.83');
insert into cultur_data values('Kiwi','Mg','0.23','0.35');
insert into cultur_data values('Kiwi','Ca','1.96','2.94');
insert into cultur_data values('Kiwi','Na','0.2','0.16');
insert into cultur_data values('Kiwi','Cl','0.3','0.3');
insert into cultur_data values('Kiwi','Zn','28','52');
insert into cultur_data values('Kiwi','Cu','9','16');
insert into cultur_data values('Kiwi','Mn','40','72');
insert into cultur_data values('Kiwi','Fe','53','98');
insert into cultur_data values('Kiwi','B','35','65');
insert into cultur_data values('Mais','NTK','3','3.5');
insert into cultur_data values('Mais','PT','0.25','0.4');
insert into cultur_data values('Mais','K','2.5','3.5');
insert into cultur_data values('Mais','Mg','0.12','0.4');
insert into cultur_data values('Mais','Ca','0.15','0.5');
insert into cultur_data values('Mais','Na','0.2','0.16');
insert into cultur_data values('Mais','Cl','0.3','0.3');
insert into cultur_data values('Mais','Zn','20','70');
insert into cultur_data values('Mais','Cu','5','15');
insert into cultur_data values('Mais','Mn','50','160');
insert into cultur_data values('Mais','Fe','20','250');
insert into cultur_data values('Mais','B','5','20');
insert into cultur_data values('Nectarine','NTK','3.2','4.2');
insert into cultur_data values('Nectarine','PT','0.15','0.28');
insert into cultur_data values('Nectarine','K','2','3');
insert into cultur_data values('Nectarine','Mg','0.3','0.8');
insert into cultur_data values('Nectarine','Ca','1.5','2.7');
insert into cultur_data values('Nectarine','Na','0.02','0.02');
insert into cultur_data values('Nectarine','Cl','0.3','0.3');
insert into cultur_data values('Nectarine','Zn','20','50');
insert into cultur_data values('Nectarine','Cu','5','16');
insert into cultur_data values('Nectarine','Mn','40','160');
insert into cultur_data values('Nectarine','Fe','80','250');
insert into cultur_data values('Nectarine','B','20','60');
insert into cultur_data values('OLIVIER','NTK','1.6','2.3');
insert into cultur_data values('OLIVIER','PT','0.1','0.2');
insert into cultur_data values('OLIVIER','K','0.8','1.5');
insert into cultur_data values('OLIVIER','Mg','0.13','0.3');
insert into cultur_data values('OLIVIER','Ca','1','2.5');
insert into cultur_data values('OLIVIER','Na','0.2','0.2');
insert into cultur_data values('OLIVIER','Cl','0.3','0.5');
insert into cultur_data values('OLIVIER','Zn','10','60');
insert into cultur_data values('OLIVIER','Cu','6','120');
insert into cultur_data values('OLIVIER','Mn','25','90');
insert into cultur_data values('OLIVIER','Fe','50','150');
insert into cultur_data values('OLIVIER','B','20','80');
insert into cultur_data values('Pécher','NTK','2.4','3.5');
insert into cultur_data values('Pécher','PT','0.15','0.28');
insert into cultur_data values('Pécher','K','1.6','3.5');
insert into cultur_data values('Pécher','Mg','0.3','0.8');
insert into cultur_data values('Pécher','Ca','1.5','3');
insert into cultur_data values('Pécher','Na','0.2','0.2');
insert into cultur_data values('Pécher','Cl','0.3','0.5');
insert into cultur_data values('Pécher','Zn','20','50');
insert into cultur_data values('Pécher','Cu','5','16');
insert into cultur_data values('Pécher','Mn','40','160');
insert into cultur_data values('Pécher','Fe','80','250');
insert into cultur_data values('Pécher','B','20','60');
insert into cultur_data values('Poirier','NTK','2.2','2.7');
insert into cultur_data values('Poirier','PT','0.14','0.2');
insert into cultur_data values('Poirier','K','1.2','2');
insert into cultur_data values('Poirier','Mg','0.3','0.5');
insert into cultur_data values('Poirier','Ca','1.2','2');
insert into cultur_data values('Poirier','Na','0.2','0.16');
insert into cultur_data values('Poirier','Cl','0.3','0.3');
insert into cultur_data values('Poirier','Zn','20','50');
insert into cultur_data values('Poirier','Cu','9','20');
insert into cultur_data values('Poirier','Mn','60','130');
insert into cultur_data values('Poirier','Fe','60','200');
insert into cultur_data values('Poirier','B','30','60');
insert into cultur_data values('Poivron','NTK','3','5');
insert into cultur_data values('Poivron','PT','0.3','0.7');
insert into cultur_data values('Poivron','K','2.5','5');
insert into cultur_data values('Poivron','Mg','0.3','1');
insert into cultur_data values('Poivron','Ca','1','2.5');
insert into cultur_data values('Poivron','Na','0.2','0.16');
insert into cultur_data values('Poivron','Cl','0.3','0.3');
insert into cultur_data values('Poivron','Zn','30','100');
insert into cultur_data values('Poivron','Cu','8','18');
insert into cultur_data values('Poivron','Mn','30','100');
insert into cultur_data values('Poivron','Fe','60','200');
insert into cultur_data values('Poivron','B','20','60');
insert into cultur_data values('Pomme de Terre','NTK','3','5');
insert into cultur_data values('Pomme de Terre','PT','0.4','0.8');
insert into cultur_data values('Pomme de Terre','K','2','6');
insert into cultur_data values('Pomme de Terre','Mg','0.3','1');
insert into cultur_data values('Pomme de Terre','Ca','3','6');
insert into cultur_data values('Pomme de Terre','Na','0.2','0.16');
insert into cultur_data values('Pomme de Terre','Cl','0.3','0.3');
insert into cultur_data values('Pomme de Terre','Zn','50','100');
insert into cultur_data values('Pomme de Terre','Cu','8','18');
insert into cultur_data values('Pomme de Terre','Mn','50','100');
insert into cultur_data values('Pomme de Terre','Fe','90','200');
insert into cultur_data values('Pomme de Terre','B','20','60');
insert into cultur_data values('Pommier','NTK','2.2','2.7');
insert into cultur_data values('Pommier','PT','0.15','0.3');
insert into cultur_data values('Pommier','K','1.2','2');
insert into cultur_data values('Pommier','Mg','0.3','0.5');
insert into cultur_data values('Pommier','Ca','1.2','2');
insert into cultur_data values('Pommier','Na','0.2','0.16');
insert into cultur_data values('Pommier','Cl','0.3','0.3');
insert into cultur_data values('Pommier','Zn','20','50');
insert into cultur_data values('Pommier','Cu','6','20');
insert into cultur_data values('Pommier','Mn','50','100');
insert into cultur_data values('Pommier','Fe','100','250');
insert into cultur_data values('Pommier','B','25','50');
insert into cultur_data values('TOMATES','NTK','3','5');
insert into cultur_data values('TOMATES','PT','0.4','0.8');
insert into cultur_data values('TOMATES','K','3','6');
insert into cultur_data values('TOMATES','Mg','0.3','0.8');
insert into cultur_data values('TOMATES','Ca','2','4');
insert into cultur_data values('TOMATES','Na','0.2','0.16');
insert into cultur_data values('TOMATES','Cl','0.3','0.3');
insert into cultur_data values('TOMATES','Zn','30','100');
insert into cultur_data values('TOMATES','Cu','8','18');
insert into cultur_data values('TOMATES','Mn','50','100');
insert into cultur_data values('TOMATES','Fe','90','200');
insert into cultur_data values('TOMATES','B','20','60');
insert into cultur_data values('RAISIN DE CUVE','NTK','2.4','2.8');
insert into cultur_data values('RAISIN DE CUVE','PT','0.12','0.18');
insert into cultur_data values('RAISIN DE CUVE','K','0.7','1.1');
insert into cultur_data values('RAISIN DE CUVE','Mg','0.26','0.6');
insert into cultur_data values('RAISIN DE CUVE','Ca','3','6');
insert into cultur_data values('RAISIN DE CUVE','Na','0.2','0.16');
insert into cultur_data values('RAISIN DE CUVE','Cl','0.3','0.3');
insert into cultur_data values('RAISIN DE CUVE','Zn','25','110');
insert into cultur_data values('RAISIN DE CUVE','Cu','5','15');
insert into cultur_data values('RAISIN DE CUVE','Mn','25','100');
insert into cultur_data values('RAISIN DE CUVE','Fe','60','150');
insert into cultur_data values('RAISIN DE CUVE','B','50','200');
insert into cultur_data values('RAISIN DE TABLE Limbes','NTK','1.7','2.1');
insert into cultur_data values('RAISIN DE TABLE Limbes','PT','0.1','0.3');
insert into cultur_data values('RAISIN DE TABLE Limbes','K','0.4','0.65');
insert into cultur_data values('RAISIN DE TABLE Limbes','Mg','0.14','0.3');
insert into cultur_data values('RAISIN DE TABLE Limbes','Ca','0.4','0.8');
insert into cultur_data values('RAISIN DE TABLE Limbes','Na','0.2','0.16');
insert into cultur_data values('RAISIN DE TABLE Limbes','Cl','0.3','0.3');
insert into cultur_data values('RAISIN DE TABLE Limbes','Zn','8','30');
insert into cultur_data values('RAISIN DE TABLE Limbes','Cu','5','20');
insert into cultur_data values('RAISIN DE TABLE Limbes','Mn','50','350');
insert into cultur_data values('RAISIN DE TABLE Limbes','Fe','60','200');
insert into cultur_data values('RAISIN DE TABLE Limbes','B','30','70');
insert into cultur_data values('RAISIN DE TABLE Pétioles','NTK','0.4','0.8');
insert into cultur_data values('RAISIN DE TABLE Pétioles','PT','0.1','0.3');
insert into cultur_data values('RAISIN DE TABLE Pétioles','K','1.5','2.5');
insert into cultur_data values('RAISIN DE TABLE Pétioles','Mg','0.22','0.66');
insert into cultur_data values('RAISIN DE TABLE Pétioles','Ca','1','3');
insert into cultur_data values('RAISIN DE TABLE Pétioles','Na','0.2','0.16');
insert into cultur_data values('RAISIN DE TABLE Pétioles','Cl','0.3','0.3');
insert into cultur_data values('RAISIN DE TABLE Pétioles','Zn','30','60');
insert into cultur_data values('RAISIN DE TABLE Pétioles','Cu','10','200');
insert into cultur_data values('RAISIN DE TABLE Pétioles','Mn','30','300');
insert into cultur_data values('RAISIN DE TABLE Pétioles','Fe','10','80');
insert into cultur_data values('RAISIN DE TABLE Pétioles','B','20','40');
insert into cultur_data values('RAISIN DE TABLE FEUILLE','NTK','3','5');
insert into cultur_data values('RAISIN DE TABLE FEUILLE','PT','0.25','0.4');
insert into cultur_data values('RAISIN DE TABLE FEUILLE','K','1','1.8');
insert into cultur_data values('RAISIN DE TABLE FEUILLE','Mg','0.3','0.6');
insert into cultur_data values('RAISIN DE TABLE FEUILLE','Ca','1.2','2.8');
insert into cultur_data values('RAISIN DE TABLE FEUILLE','Na','0.1','0');
insert into cultur_data values('RAISIN DE TABLE FEUILLE','Cl','0.8','0');
insert into cultur_data values('RAISIN DE TABLE FEUILLE','Zn','35','60');
insert into cultur_data values('RAISIN DE TABLE FEUILLE','Cu','8','20');
insert into cultur_data values('RAISIN DE TABLE FEUILLE','Mn','30','200');
insert into cultur_data values('RAISIN DE TABLE FEUILLE','Fe','110','250');
insert into cultur_data values('RAISIN DE TABLE FEUILLE','B','30','200');
insert into cultur_data values('KAKI','NTK','2.2','3.33');
insert into cultur_data values('KAKI','PT','0.144','0.216');
insert into cultur_data values('KAKI','K','1.64','2.46');
insert into cultur_data values('KAKI','Mg','0.248','0.37');
insert into cultur_data values('KAKI','Ca','2.28','3.5');
insert into cultur_data values('KAKI','Na','50','110');
insert into cultur_data values('KAKI','Cl','30','70');
insert into cultur_data values('bananier','NTK','2.6','3.7');
insert into cultur_data values('bananier','PT','0.18','0.4');
insert into cultur_data values('bananier','K','3.5','5.4');
insert into cultur_data values('bananier','Mg','0.26','0.6');
insert into cultur_data values('bananier','Ca','0.4','1.2');
insert into cultur_data values('bananier','Na','0.2','0.16');
insert into cultur_data values('bananier','Cl','0.3','0.3');
insert into cultur_data values('bananier','Zn','10','50');
insert into cultur_data values('bananier','Cu','6','30');
insert into cultur_data values('bananier','Mn','200','1000');
insert into cultur_data values('bananier','Fe','80','300');
insert into cultur_data values('bananier','B','10','50');
insert into cultur_data values('Mûrier','NTK','1.9','2.7');
insert into cultur_data values('Mûrier','PT','0.1','0.3');
insert into cultur_data values('Mûrier','K','0.5','0.8');
insert into cultur_data values('Mûrier','Mg','0.25','0.5');
insert into cultur_data values('Mûrier','Ca','0.6','1.2');
insert into cultur_data values('Mûrier','Na','0.2','0.16');
insert into cultur_data values('Mûrier','Cl','0.3','0.3');
insert into cultur_data values('Mûrier','Zn','8','30');
insert into cultur_data values('Mûrier','Cu','5','20');
insert into cultur_data values('Mûrier','Mn','50','350');
insert into cultur_data values('Mûrier','Fe','60','200');
insert into cultur_data values('Mûrier','B','30','70');
insert into cultur_data values('MELON','NTK','3.5','5.5');
insert into cultur_data values('MELON','PT','0.25','0.4');
insert into cultur_data values('MELON','K','1.9','4');
insert into cultur_data values('MELON','Mg','0.3','0.5');
insert into cultur_data values('MELON','Ca','1.8','4');
insert into cultur_data values('MELON','Na','0.2','0.16');
insert into cultur_data values('MELON','Cl','0.3','0.3');
insert into cultur_data values('MELON','Zn','20','60');
insert into cultur_data values('MELON','Cu','5','15');
insert into cultur_data values('MELON','Mn','20','100');
insert into cultur_data values('MELON','Fe','40','200');
insert into cultur_data values('MELON','B','20','80');
insert into cultur_data values('NECTARINIER','NTK','3.2','4.2');
insert into cultur_data values('NECTARINIER','PT','0.15','0.28');
insert into cultur_data values('NECTARINIER','K','2','3');